
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<header>
    <style>
        #input-file-html5 {
            position: relative;
            outline: none;
            color: rgb(100,150,150);
            background: whitesmoke;
            padding: .3em 1em .3em 0;
        }

            #input-file-html5::before {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                padding: .5em .7em;
                color: white;
                background: rgb(100,200,200);
                box-shadow: 0 0.2em 0 rgb(100,180,180);
                transform: translateY(-0.2em);
            }

            #input-file-html5:hover::before {
                background: rgb(110,210,210);
                box-shadow: 0 0.35em 0 rgb(100,180,180);
                transform: translateY(-0.35em);
            }

            #input-file-html5:active::before {
                background: rgb(100,180,180);
                box-shadow: 0 0em 0 rgb(100,180,180);
                transform: translateY(0em);
            }
    </style>

</header>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Themsinhvien</title>
</head>
<body>
    <div class="container">
        <div class="row">
            
            <div class="col-sm-6">
                <div>
                    <h3>Thêm sinh viên</h3>
                    <br />
                    @using (Html.BeginForm("AddListStudent", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                <input type="file" name="postedFile" id="input-file-html5" />
                                <input type="submit" value="Lưu file" />}
                    @ViewBag.Mess
                </div>
                
            </div>
            <div class="col-lg-6">
                <p> Chú ý: file excel làm theo mẫu các tên cột trùng với mẫu đã cho </p>
                <img src="~/Img/sv.png" />
            </div>

        </div>

    </div>
</body>
</html>
