
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trang Chủ Admin</h2>

@Html.ActionLink("Quản lý tài khoản", "ManageAccount", "Manage", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Quản lý sinh viên", "ManageStudent", "Manage", null, new { @class = "btn btn-success" })
@Html.ActionLink("Quản lý giảng viên", "ManageTeacher", "Manage", null, new { @class = "btn btn-info" })

<a href="~/Manage/ManageSchedule/0" class="btn btn-info">Quản lý thời khóa biểu</a>

