@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>
<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />

</head>

<body class="container-fluid" style="margin-top: 70px;">

    <div class="container">
        <h3>Sinh viên có trong thời khóa biểu</h3>
        <div class="container-fluid">
            <table id="MyTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên Sinh Viên</th>
                        <th>Mã Sinh Viên</th>

                    </tr>
                </thead>
            </table>
        </div>
    </div>
</body>
</html>
@* Load datatable js *@
@section Scripts{
    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#MyTable').DataTable({

                "processing": true, // for show progress bar "dom": '<ft<ri>lp>',
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 100,
                "ajax": {
                    "url": "/Manage/LoadDataInfoSub1/@ViewBag.id",
                    "type": "POST",
                    "datatype": "json"
                },
                //"columnDefs":
                //    [{
                //        "targets": [0],
                //        "visible": false,
                //        "searchable": false
                //    }],

                "columns": [
                    { "data": "MaSv", "name": "MaSv", "autoWidth": true },
                    { "data": "TenSv", "name": "TenSv", "autoWidth": true },

                ]

            });
        })
    </script>
}