
@{
    ViewBag.Title = "ManageTeacherIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ManageTeacherIndex</h2>


@Html.ActionLink("thêm mới điểm danh", "Create", "CheckIn")
@Html.ActionLink("Quản ký tài khoản", "ProfileAcount", "Account")
@Html.ActionLink("Quản ký điểm danh", "TeacherCheckIn", "CheckIn")


