
@{
    ViewBag.Title = "ManageTeacherIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trang Chủ Giảng Viên</h2>
<a href="~/CheckIn/TeacherCheckIn/0" class="btn btn-info">Quản ký điểm danh</a>
@Html.ActionLink("Sửa thông tin tài khoản", "ProfileAcount", "Account", null, new { @class = "btn btn-primary" })


