
@{
    ViewBag.Title = "FindAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Custom/Login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Custom/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Custom/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Custom/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Custom/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Custom/Login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Custom/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Custom/Login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Custom/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Custom/Login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
                <form class="login100-form validate-form" method="POST" action="/Account/Login">
                    <span class="login100-form-title p-b-33">
                       Xin chào @ViewBag.nameacc bạn có thể đổi mật khẩu tại đây
                    </span>

                    <div class="wrap-input100 validate-input mt-2" data-validate="Mật khẩu không được để trống">
                        <input class="input100" type="password" id="newpassw" name="PassWord" placeholder="Nhập mật khẩu mới">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>

                    <div class="wrap-input100 validate-input mt-2" data-validate="Mật khẩu không được để trống">
                        <input class="input100" type="password" id="confirm" name="rePassWord" placeholder="Xác nhận mật khẩu">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>

                    <div class="container-login100-form-btn m-t-20">
                        <button id="btnacept" type="button" onclick="changePassw()" class="login100-form-btn">
                            Đổi mật khẩu
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/Custom/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Custom/Login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->

    <script src="~/Custom/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Custom/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Custom/Login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Custom/Login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Custom/Login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Custom/Login/js/main.js"></script>
    <!--===============================================================================================-->
    <script>
        document.getElementById("displaynone").style.display = "none";
        document.getElementById("navbar").style.display = "none";
        
    </script>
    <script>
        function changePassw() {
            let thisbtn = $(this);
            let id = "@ViewBag.id";
            let passw = document.getElementById("newpassw").value;
            var formData = new FormData();
            formData.append('id', id);
            formData.append('newpass', passw);
            $.ajax({
                url: "/Account/FindAccountjson",
                type: "POST",

                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {
                    alert(data);

                }
            })

        }
    </script>
</body>
</html>



