
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Custom/Login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Custom/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Custom/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Custom/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Custom/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Custom/Login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Custom/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Custom/Login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Custom/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Custom/Login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
                <form class="login100-form validate-form" method="POST" action="/Account/Login">
                    <span> <img style="width:410px; height:150px; " src="~/Img/logo CMYK-01.png" /></span>
                    <span class="login100-form-title p-b-33">
                        Chào mừng đến hệ thống điểm danh HUTECH
                    </span>

                    <div class="wrap-input100 validate-input mt-2" data-validate="Nhập mã giảng viên/sinh viên">
                        <input class="input100" type="text" name="UserName" placeholder="Mã giảng viên/sinh viên" id="username">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>



                    <div class="wrap-input100 validate-input mt-2" data-validate="Mật khẩu không được để trống">
                        <input class="input100" type="password" name="PassWord" placeholder="Mật khẩu" id="password">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>

                    <div class="container-login100-form-btn m-t-20">
                        <button type="submit" class="login100-form-btn" onclick="login()">
                            Đăng nhập
                        </button>
                    </div>

                    <div class="text-center p-t-45 p-b-4">
                        <span class="txt1">
                            Tìm
                        </span>

                        <a href="#" class="txt2 hov1" data-toggle="modal" data-target="#modalforgot">
                            tài khoản / mật khẩu?
                        </a>
                    </div>
                    <div class="alert alert-danger" role="alert" id="@ViewBag.error" style="display: none;">
                        Không thể đăng nhập, hãy kiểm tra lại tài khoản hoặc mật khẩu
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Modal sign up -->
    <!--=================================================================================================================================================-->
    <div class="modal fade" id="modalsignup" tabindex="-1" role="dialog" aria-labelledby="modalsignup" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalsignuplabel">welcome to Sign up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="wrap-input100 ">
                        <input id="id" class="input100" type="text" name="UserName" placeholder="Mã giảng viên/sinh viên">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>

                    <div class="mt-2">
                        <select class="custom-select" id="chucvu" name="Role">
                            <option selected>Chức vụ...</option>
                            <option value="2">Giảng Viên</option>
                            <option value="3">Sinh viên</option>
                        </select>
                    </div>

                    <div class="wrap-input100  mt-2">
                        <input class="input100" type="password" name="PassWord" id="matkhau" placeholder="Mật khẩu">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>

                    <div class="wrap-input100 mt-2">
                        <input class="input100" type="password" name="Repassword" id="xacthucmatkhau" placeholder="Xác thực mật khẩu">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>

                    <div class="wrap-input100  mt-2">
                        <input class="input100" type="email" name="email" id="email" placeholder="Email">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>
                    <div class="wrap-input100 mt-2">
                        <input class="input100" type="text" name="name" id="ten" placeholder="Tên giảng viên/sinh viên">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="login100-form-btn" onclick="myFunction()">Tạo tài khoản</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal forget password -->
    <!--=================================================================================================================================================-->
    <div class="modal fade" id="modalforgot" tabindex="-1" role="dialog" aria-labelledby="modalforgot" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div><img style="width:410px; height:150px; " src="~/Img/logo CMYK-01.png" /></div>
                    <br />
                   

                </div>
                <div class="modal-body">
                    <div class="alert alert-primary" role="alert" >
                        Bạn có thể tìm kiếm tài khoản của mình ở đây bằng cách nhập mã giảng viên/ sinh viên tại ô nhập dữ liệu bên dưới hoặc liên hệ văn phòng khoa để có thể tìm lại maatk khẩu
                    </div>
                    <div class="wrap-input100 ">
                        <input id="idfg" class="input100" type="text" name="idfg" placeholder="Mã giảng viên/sinh viên để tìm mật khẩu">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="login100-form-btn" onclick="findAccount()">Gửi</button>
                </div>
            </div>
        </div>
    </div>



    <!--===============================================================================================-->
    <script src="~/Custom/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Custom/Login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Custom/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Custom/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Custom/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Custom/Login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Custom/Login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Custom/Login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Custom/Login/js/main.js"></script>
    <!--===============================================================================================-->
    <script>
        function myFunction() {
            let thisbtn = $(this);
            let taikhoan = document.getElementById("id").value;
            let chucvu = document.getElementById("chucvu").value;
            let matkhau = document.getElementById("matkhau").value;
            let xacthucmatkhau = document.getElementById("xacthucmatkhau").value;
            let email = document.getElementById("email").value;
            let ten = document.getElementById("ten").value;

            //let fileImg = document.getElementById("fileImg").files[0];
            //var file = $("#fileImg")[0].files[0];
            var formData = new FormData();
            formData.append('taikhoan', taikhoan);
            formData.append('chucvu', chucvu);
            formData.append('matkhau', matkhau);
            formData.append('nhaplaimatkhau', xacthucmatkhau);
            formData.append('email', email);
            formData.append('ten', ten);
            //formData.append('fileImg', $('#themFileImg')[0].files[0]);
            //console.log(id);
            $.ajax({
                url: "/Account/Register",
                type: "POST",

                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {
                    alert(data);

                }
            })
        }
    </script>
    <!--===============================================================================================-->
    <script>
        function findAccount() {
            let thisbtn = $(this);
            let idfg = document.getElementById("idfg").value;
            var formData = new FormData();
            formData.append('idfg', idfg);
            $.ajax({
                url: "/Account/forget",
                type: "POST",

                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {
                    alert(data);

                }
            })
        }
    </script>
    <!--===============================================================================================-->

    <script>
        function login() {
            let thisbtn = $(this);
            let username = document.getElementById("username").value;
            let password = document.getElementById("password").value;
            var formData = new formData();
            formData.append('username', username);
            formData.append('password', password);
            $.ajax({
                url: "Account/login1",
                type: "POST",

                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {
                    if (data) {
                        window.open("/manage/index");
                    }
                    else {
                        document.getElementById("error").style.display = "block";
                    }
                }

            })
        }
    </script>
    <!--===============================================================================================-->
    <script>
        document.getElementById("error").style.display = "block";
    </script>


</body>
</html>