
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QrCodeGenarate</title>
</head>
<body>
    <div>
        @if (ViewBag.imageBytes != null)
        {
            <img style="max-height: 150px; max-width:150px" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(ViewBag.imageBytes))" />
        }
    </div>
</body>
</html>
