@model IEnumerable<WebApplication1.Models.NHOM>

@{
    ViewBag.Title = "TeacherCheckIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>
    <meta name="viewport" content="width=device-width" />
    <title>QrCodeGenarate</title>
    <meta charset="utf-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .dropbtn {
            background-color: #3498DB;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

            .dropbtn:hover, .dropbtn:focus {
                background-color: #2980B9;
            }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

        .dropdown a:hover {
            background-color: #ddd;
        }

        .show {
            display: block;
        }
    </style>
</head>
<div style="margin-left: 50px;">
    <h2>Thời khóa biểu</h2>
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Chọn năm học</button>
        <div id="myDropdown" class="dropdown-content">
            @foreach (var item in Model)
            {
                <a href="~/CheckIn/TeacherCheckIn/@item.ID">học kì @item.HOCKI năm @item.NAMHOC</a>
            }


        </div>
    </div>
</div>


<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = documentv .getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>


<!DOCTYPE html>
<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    @*<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />*@

    <link href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" rel="stylesheet" />

</head>

<body class="container">


    <div class="container-fluid" style="margin-top: 30px">
        <form method="POST" action="~/CheckIn/TeacherCheckIn/">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Mã môn học</label>
                        <input type="text" class="form-control" id="idmonhoc" name="idmonhoc" placeholder="Nhập mã môn học">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Tên môn học</label>
                        <input type="text" class="form-control" id="tenmonhoc" name="tenmonhoc" placeholder="Nhập tên môn học">
                    </div>
                </div>
                <div class="col-lg-5" style="display:none">
                    <div class="form-group">
                        <label for="exampleInputPassword1">id</label>
                        <input type="text" class="form-control" id="tenmonhoc" name="id" placeholder="Nhập tên môn học" value="@ViewBag.a">
                    </div>
                </div>
                <div class="col-lg-1"></div>



            </div>
            <button style="margin-left: 45%" type="submit" class="btn btn-primary text-center">Tìm kiếm</button>

        </form>

        <div class="container-fluid" style="margin-top: 30px;">

                <table id="MyTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Mã thời khóa biểu
                            </th>
                            <th>
                                Nhóm
                            </th>
                            <th>
                                Mã môn học
                            </th>
                            <th>
                                Tên môn học
                            </th>
                            <th>
                                Phòng
                            </th>
                            <th>
                                Lớp
                            </th>

                            <th>
                                Ca
                            </th>
                            <th>
                                Thứ
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            
        </div>
    </div>
</body>
</html>
@* Load datatable js *@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).on("click", "#MyTable tbody .ktradiemdanh", function id() {

        let thisbtn = $(this);
        var id = thisbtn.parent().parent().find(".id").html();
        window.location = "https://localhost:44349/CheckIn/LoadData/" + id;

    })</script>
<script>
    $(document).on("click", "#MyTable tbody .taomaqr", function id() {

        let thisbtn = $(this);
        var id = thisbtn.parent().parent().find(".id").html();
        window.location = "https://localhost:44349/CheckIn/QrCodeGenarate/" + id;
    })</script>
<script>
    $(document).on("click", "#MyTable tbody .xemsv", function id() {

        let thisbtn = $(this);
        var id = thisbtn.parent().parent().find(".id").html();
        window.location = "https://localhost:44349/Manage/LoadDataInfoSub/" + id;
    })</script>
<script>

    $(document).on("click", ".tesst1", function id() {

        let thisbtn = $(this);
        window.location = "https://localhost:44349/Manage/ManageSchedule/";
    })</script>

@section Scripts{
    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

    <script>
    $(document).ready(function () {
            $('#MyTable').DataTable({

                "processing": true, // for show progress bar "dom": '<ft<ri>lp>',
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 100,
                "ajax": {
                    "url": "/CheckIn/ManageSchedule1/@ViewBag.a?username=@ViewBag.b&&idmonhoc=@ViewBag.idmonhoc&&tenmonhoc=@ViewBag.tenmonhoc",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "id", "name": "id", "class": "id", "autoWidth": true, "orderable": false },
                    { "data": "nhom", "name": "nhom", "class": "nhom", "autoWidth": true, "orderable": false },
                    { "data": "mamh", "name": "mamh", "class": "mamh", "autoWidth": true, "orderable": false },
                    { "data": "tenmh", "name": "tenmh", "class": "tenmh", "autoWidth": true, "orderable": false },
                    { "data": "phong", "name": "phong", "class": "phong", "autoWidth": true, "orderable": false },
                    { "data": "lop", "name": "lop", "class": "lop", "autoWidth": true, "orderable": false },

                    { "data": "cahoc", "name": "cahoc", "class": "cahoc", "autoWidth": true, "orderable": false },
                    { "data": "thu", "name": "thu", "class": "thu", "autoWidth": true, "orderable": false },

                    {

                        "render": function (data, type, full, meta) { return '<button type="button" class="btn btn-primary ktradiemdanh" ><i class="fa fa-database"></i>'; }, "orderable": false
                    },
                    {

                        "render": function (data, type, full, meta) { return '<button type="button" class="btn btn-primary taomaqr"><i class="fa fa-qrcode"></i>'; }, "orderable": false
                    },
                    {

                        "render": function (data, type, full, meta) { return '<button type="button" class="btn btn-primary xemsv"><i class="fa fa-eye"></i></button>'; }, "orderable": false
                    },

                ]

            });
        })</script>





}
<div>
    @Html.ActionLink("Quay lại trang chủ", "Redirect", "Manage")
</div>
