@model IEnumerable<WebApplication1.Models.DIEMDANH>

@{
    ViewBag.Title = "XemThongtin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xem Thông tin điểm danh của sinh viên: @ViewBag.tensv -môn học: @ViewBag.tenmh  </h2>


<table class="table">
    <tr>
        <th>
           Tên Sinh Viên
        </th>
        <th>
            Ngày điểm danh
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENSINHVIEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYDIEMDANH)
        </td>
    </tr>
}

</table>
